INSERT INTO [gestion_de_stock].[dbo].[usersSet]
           ([user_names]
           ,[passwords]
           ,[permissions])
     VALUES
           ('Administrateur' ,  '' , 1)
            
GO

INSERT INTO [gestion_de_stock].[dbo].[settingsSet]
           ([etat_price]
           ,[etat_config])
     VALUES
           (1,'False')
GO



/****** Object:  Trigger [8_tracking_event_delete_Prix_AVG]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[8_tracking_event_delete_Prix_AVG]
   ON  [dbo].[stocks_inSet]  
   after delete 
AS 

  declare @code_materiel int;
   declare @prix decimal;
BEGIN
  set @code_materiel = (select les_articles_id_article  from deleted) 
  set @prix	=(select AVG(prix_article) from stocks_inSet where les_articles_id_article=@code_materiel)
 
  update les_articlesSet
  set prixx_artcl_stock= @prix
  from les_articlesSet
  where id_article = @code_materiel;
  
END
GO
/****** Object:  Trigger [7_tracking_event_delete_Prix_MAX]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[7_tracking_event_delete_Prix_MAX]
   ON  [dbo].[stocks_inSet]  
   after delete 
AS 

  declare @code_materiel int;
   declare @prix decimal;
BEGIN
  set @code_materiel = (select les_articles_id_article  from deleted) 
  set @prix	=(select MAX(prix_article) from stocks_inSet where les_articles_id_article=@code_materiel)
 
  update les_articlesSet
  set prixx_artcl_stock= @prix
  from les_articlesSet
  where id_article = @code_materiel;
  
END
GO
/****** Object:  Trigger [6_tracking_event_prix_AVG]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[6_tracking_event_prix_AVG]
   ON  [dbo].[stocks_inSet] 
   AFTER  INSERT,UPDATE 
AS 
 
  declare @code_materiel int;
  declare @prix decimal;
  
BEGIN
  set @code_materiel = (select les_articles_id_article  from inserted);
  set @prix	=(select AVG(prix_article) from stocks_inSet where les_articles_id_article=@code_materiel)
 
  update les_articlesSet
  set prixx_artcl_stock=@prix
  from les_articlesSet
  where id_article = @code_materiel;
  
END
GO
/****** Object:  Trigger [5_tracking_event_prix_MAX]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[5_tracking_event_prix_MAX]
   ON  [dbo].[stocks_inSet] 
   AFTER  INSERT,UPDATE 
AS 
 
  declare @code_materiel int;
  declare @prix decimal;
  
BEGIN
  set @code_materiel = (select les_articles_id_article  from inserted);
  set @prix	=(select MAX(prix_article) from stocks_inSet where les_articles_id_article=@code_materiel)
 
  update les_articlesSet
  set prixx_artcl_stock=@prix
  from les_articlesSet
  where id_article = @code_materiel;
  
END
GO
/****** Object:  Trigger [4_tracking_event_delete_out_stock]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[4_tracking_event_delete_out_stock]
   ON  [dbo].[stock_outSet]  
   after delete 
AS 
  declare @sommein int;
  declare @sommeout int;
  declare @code_materiel int;
  declare @result int;
  declare @get_id_stock_out int;
  
bEGIN
  set @code_materiel = (select les_articles_id_article  from deleted);
  set @sommein = (select   sum(quantite_in)  from stocks_inSet where les_articles_id_article= @code_materiel)
  set @sommeout = (select   sum(quantite_out)  from stock_outSet where les_articles_id_article= @code_materiel)
  set @result = @sommein-@sommeout
  set @get_id_stock_out = (select  id_stock_out  from deleted)
   
 if (@sommein-@sommeout !='0') 
  
  update les_articlesSet
  set quantite_total=@result 
  from les_articlesSet
  where id_article = @code_materiel;
 else
 update les_articlesSet
  set quantite_total=@sommein
  from les_articlesSet
  where id_article = @code_materiel;
  
   update stock_outSet
  set prix_out_unitaire_x_quantite =quantite_out* prix_article_out
  from stock_outSet
  where id_stock_out = @get_id_stock_out

END
GO
/****** Object:  Trigger [3_tracking_event_out_stock]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  TRIGGER [dbo].[3_tracking_event_out_stock]
   ON  [dbo].[stock_outSet] 
   AFTER  INSERT,UPDATE 
AS 
   declare @sommein int;
  declare @sommeout int;
  declare @code_materiel int;
  declare @result int;
  declare @get_id_stock_out int;

bEGIN
 set @code_materiel = (select les_articles_id_article  from inserted);
  set @sommein = (select   sum(quantite_in)  from stocks_inSet where les_articles_id_article= @code_materiel)
  set @sommeout = (select   sum(quantite_out)  from stock_outSet where les_articles_id_article= @code_materiel)
   set @result = @sommein-@sommeout
    set @get_id_stock_out = (select  id_stock_out  from inserted)
	
  update les_articlesSet
  set quantite_total=@result 
  from les_articlesSet
  where id_article = @code_materiel;
  
  update stock_outSet
  set prix_out_unitaire_x_quantite =quantite_out* prix_article_out
  from stock_outSet
  where id_stock_out = @get_id_stock_out
  
END
GO
/****** Object:  Trigger [2_tracking_event]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  TRIGGER [dbo].[2_tracking_event]
   ON  [dbo].[stocks_inSet] 
   AFTER  INSERT,UPDATE 
AS 
  declare @somme int;
  declare @somme_other int;
  declare @code_materiel int;
  declare @get_id_stock_in int;
  
BEGIN
  set @code_materiel = (select les_articles_id_article  from inserted);
  set @somme = (select SUM(quantite_in) from stocks_inSet where les_articles_id_article= @code_materiel)
  set @somme_other = (select  sum(quantite_out)  from stock_outSet where les_articles_id_article= @code_materiel)
  set @get_id_stock_in = (select  id_stock_in  from inserted) 
   
  IF (@somme_other!=0)
  
  update les_articlesSet
  set quantite_total=@somme-@somme_other 
  from les_articlesSet
  where id_article = @code_materiel;
  
  ELSE
  update les_articlesSet
  set quantite_total=@somme 
  from les_articlesSet
  where id_article = @code_materiel;
  
   update stocks_inSet
  set prix_in_unitaire_x_quntite =quantite_in*prix_article
  from stocks_inSet
  where id_stock_in = @get_id_stock_in
  
END
GO
/****** Object:  Trigger [1_tracking_event_delete]    Script Date: 04/24/2018 19:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[1_tracking_event_delete]
   ON  [dbo].[stocks_inSet]  
   after delete 
AS 
  declare @somme int;
  declare @somme_other int;
  declare @code_materiel int;
  declare @get_id_stock_in int;
  
   
BEGIN
  set @code_materiel = (select les_articles_id_article  from deleted) 
  set @somme = (select SUM(quantite_in) from stocks_inSet where les_articles_id_article= @code_materiel)
  set @somme_other = (select  sum(quantite_out)  from stock_outSet where les_articles_id_article= @code_materiel)
  set @get_id_stock_in = (select  id_stock_in  from deleted)
  
  IF (@somme_other!=0) 
  update les_articlesSet
  set quantite_total=@somme-@somme_other
  from les_articlesSet
  where id_article = @code_materiel;
  
  ELSE
  update les_articlesSet
  set quantite_total=@somme	 
  from les_articlesSet
  where id_article = @code_materiel;
  
   update stocks_inSet
  set prix_in_unitaire_x_quntite =quantite_in*prix_article
  from stocks_inSet
  where id_stock_in = @get_id_stock_in
  
END
 
